
.navbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  background-color: #63D990 !important;
  padding: 10px 0; 
  margin-bottom: 50px; 
}
.navbar .navbar-brand {
  color: #000 !important;
}
.navbar .nav-link {
  color: #000 !important; /* Example text color */
}

.bigger-h1,
.bigger-h2,
.bigger-h3,
.bigger-h4,
.bigger-h5,
.bigger-h6 {
  font-size: 20px;
  font-family: Times, Times, serif;
}

.bigger-h1 {
  margin-bottom: 20px;
}

.vertical-line {
  border-right: 1px solid rgb(8, 8, 8); 
  padding-right: 15px; 
}

@media (min-width: 100px) { body {
  font-size: 100%; 
  margin: 4%; 
} }

@media (min-width: 576px) { body {
  font-size: 100%; 
  margin: 4%; 
} }


@media (min-width: 768px) { body {
  font-size: 100%; 
  margin: 4%; 
} }


@media (min-width: 992px) { body {
  font-size: 100%; 
  margin: 4%; 
} }


@media (min-width: 1200px) {  body {
  font-size: 100%; 
  margin: 4%; 
}}

@media (min-width: 1400px) {  body {
  font-size: 100%; 
  margin: 4%; 
}}

body {
  /* Gradient background from beige (#F5DEB3) to white (#FFFFFF) */
  background: linear-gradient(to bottom, #F0F0F0, #FFFFFF);
}
